<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visited Countries</title>
</head>
<body>
    <h1>Visited Countries</h1>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br>
      <label for="countries">Countries Visited:</label>
      <input type="text" id="countries" name="countries"><br>
      <button type="submit">Submit</button>
    </form>
    <div id="result"></div>
    <script src="../public/ex2.js"></script>
</body>
</html>